---
layout: statusupdate
title: Development Team Status Update
---

<div class="posts">
<h3>Active Work</h3>
  {% for post in site.statusupdates %}
  <div class="post">
    {% if post.status == "onhold" %}
	     {% continue %}
   {% endif %}
<div class="message">
    <div class="status-title">
        {{ post.title }} - {{ post.type }}
        
    </div>

    <span class="status-date">updated {{ post.date | date_to_string }}</span>



    {{ post.content }}
	</div>
  </div>
  {% endfor %}
</div>

<h1>On Hold</h1>
  {% for post in site.statusupdates %}
  <div class="post">
    {% if post.status == "active" %}
	     {% continue %}
   {% endif %}
<div class="message">
    <div class="status-title">
        {{ post.title }}
         <span class="status-type"  style="float: right">{{ post.type }}
    </div>

    <span class="status-date">updated {{ post.date | date_to_string }}</span>



    {{ post.content }}
	</div>
  </div>
  {% endfor %}
</div>





