<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

  <body>

<h1>Heading One</h1>
<h2>Heading Two</h2>
<h3>Heading Three</h3>
<h4>Heading Four</h4>
<h5>Heading Five</h5>


    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            Development Team - Status Update

          </h3>
           <span class="status-date">prepared by Mike Beaulieu</span>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>


  </body>
</html>
